@import url('../../styles/variables.css');
.overlay-div{
  height: 100%;
  width: 100%;
  background-color: #000000cc;

}
  .overlay-div-light{
    height: 100%;
    width: 100%;
    background-color:rgb(253 253 253 / 86%);
  
  }

.movie-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
    width:100%;
    padding: 52px 156px 52px 156px;
    background-color: rgb(0 0 0 / 82%);
    /* height: 100vh; */
 
}

.movie-light-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width:100%;
  padding: 52px 156px 52px 156px;
  /* height: 100vh; */
   
}
.movie-item{
    width: 200px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 8px;
    color: #dfd4d4;
    margin-left: 5px;  
}

.movie-item img{
  width: 100%;
  height: auto;
  min-height: 100px;
  border-bottom: 2px solid #444;
}
