.movie-home-div{
    width: 100%;
    height: 800px ;
    position: relative;
    background-image: url('./movie-backdrop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.movie-home-div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, rgb(0 0 0), rgb(0 0 0 / 79%), rgba(0, 0, 0, 0)); 
    z-index: 1;

}

.movie-home-div h1{
    color:  #ffffff;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    margin-top: 240px;
    font-size: 80px;
    font-family: sans-serif;
}


.movie-home-div p{
    color:  #b1a0a0ba;
    position: absolute;
    z-index: 1;
    margin-top: 450px;
    padding: 10px;
    font-size: 35px;
    font-family: sans-serif;
    margin-left: 20px;
}